@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #00648c;
  --primary-foreground: #ffffff;

  --background-gray: #e5e5e5;
  --border-input: #8a9ca3;
  --font-sans: var(--font-lexend);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border-input: var(--border-input);
  --color-background-gray: var(--background-gray);
  --font-sans: var(--font-sans);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), sans-serif;
  }
}

@layer components {
  .container-page {
    @apply mx-auto w-full max-w-7xl px-6;
  }

  .container-auth {
    @apply w-full max-w-md px-8;
  }

  .stack-sm {
    @apply flex flex-col gap-2;
  }

  .stack-md {
    @apply flex flex-col gap-4;
  }

  .stack-lg {
    @apply flex flex-col gap-6;
  }

  .title-auth {
    @apply text-3xl
      font-bold
      text-center
      sm:text-4xl
      md:text-5xl;

    color: var(--primary-foreground);
  }

  .card {
    @apply rounded bg-white p-6 shadow;
  }

  .btn-primary {
    @apply w-full
      rounded
      py-2
      font-medium
      transition
      hover:opacity-90;

    background-color: var(--primary);
    color: var(--primary-foreground);
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }

  .text-on-primary {
    color: var(--primary-foreground);
  }

  .text-blue-green {
    color: var(--primary);
  }

  .text-blue-ligth {
    color: #3099c2;
  }

  .text-foreground {
    color: var(--foreground);
  }

  .border-input {
    border: 1px solid var(--border-input);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), sans-serif;
}
